.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
font-family: 'Roboto' ,  sans-serif;
color: #434455;
background-color: #FFFFFF;
}
.page-logo {
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway , sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-studio {
    color: var(--NAVY-BLUE, #2E2F42);
}
.menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Body Medium */
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}
.font-address {
    font-style: normal;
}
.adress-link {
    color: var(--SLATE, #434455);
    
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.adress-link:hover,
.adress-link:focus {
    color:#404BBF;
}
.color-back {
    background: var(--NAVY-BLUE, #2E2F42);
}
.main-text {
color: var(--WHITE, #FFF);
    text-align: center;

    /* Header 1 */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
}
.but-service {
color: var(--WHITE, #FFF);
background-color: #4D5AE5;

    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
}
.but-service:hover,
.but-service:focus {
    color:#ffffff;
    background-color: #404BBF;
}

.h3-text-2s {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.second-section-text {
    color: var(--SLATE, #434455);   
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.third-section {
    background-color: #F4F4FD;
}
.third-section-second {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;   
        /* Header 2 */
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.backcolor-third {
   background-color: #FFFFFF;
}
.third-section-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;   
        /* Header 3 */
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.third-section-text {
color: var(--SLATE, #434455);
    text-align: center;
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.h2-text-4s {
color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02;
    text-transform: capitalize;

}
.h3-text-4s {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */

        font-size: 20px;

        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.fourth-section-text {
    color: var(--SLATE, #434455);
    
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.footer-back {
    background: var(--NAVY-BLUE, #2E2F42);
}
.footer-logo {
    color: var(--IRIS, #4D5AE5);
        font-family: 'Raleway' , sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-studio-footer {

color:#F4F4FD;
}
.footer-text {
    color: var(--CLOUD, #F4F4FD);    
        /* Body */
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}